.ask .top-ask {
  background-color: #fff;
  padding: 5% 0; }
  .ask .top-ask .pic {
    position: relative; }
    .ask .top-ask .pic img {
      display: block;
      width: 100%; }
    .ask .top-ask .pic .title {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 15px;
      line-height: 2.5em; }
  .ask .top-ask .content .title {
    color: #333333;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0.5em 0; }
  .ask .top-ask .content .des {
    font-size: 15px;
    color: #999;
    line-height: 1.2em; }
.ask .ask-list {
  background-color: #fff;
  padding-bottom: 5%; }
  .ask .ask-list .tit {
    font-size: 18px;
    font-weight: bold;
    line-height: 3em;
    padding: 0 5%; }
  .ask .ask-list .list {
    padding-left: calc(5%);
    position: relative; }
    .ask .ask-list .list::before {
      width: 0;
      height: 100%;
      content: "";
      display: block;
      border-right: 1px dashed #40c28d;
      position: absolute;
      left: calc(5%);
      top: 0; }
    .ask .ask-list .list ul li {
      padding-left: 1em;
      position: relative; }
      .ask .ask-list .list ul li::before {
        width: 5px;
        height: 5px;
        content: "";
        display: block;
        background-color: #40c28d;
        position: absolute;
        left: -2px;
        top: 50%;
        margin-top: -2px;
        border-radius: 100%; }
      .ask .ask-list .list ul li a {
        color: #333;
        font-size: 15px;
        line-height: 2.5em;
        padding-right: 5%;
        border-bottom: 1px solid #d2d2d2; }
.ask .ask-main {
  background-color: #fff; }
  .ask .ask-main .title {
    font-size: 18px;
    color: #333;
    padding: 0.8em 0; }
  .ask .ask-main .des {
    font-size: 13px;
    font-weight: lighter;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #d2d2d2; }
  .ask .ask-main .content {
    padding: 5% 0;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: lighter; }
.ask .news-list {
  background-color: #fff;
  padding-bottom: 5%; }
  .ask .news-list .tit {
    font-size: 18px;
    font-weight: bold;
    line-height: 3em;
    padding: 0 5%; }
  .ask .news-list .list .item {
    padding: 5%;
    border-bottom: 1px dashed #e4e4e4; }
    .ask .news-list .list .item:hover {
      background-color: #fffae6; }
    .ask .news-list .list .item a {
      display: block;
      position: relative; }
      .ask .news-list .list .item a span {
        display: block; }
        .ask .news-list .list .item a span.pic {
          height: 80px;
          width: 115px;
          background-position: center;
          background-size: cover;
          position: absolute;
          left: 0;
          top: 0; }
        .ask .news-list .list .item a span.inner {
          height: 80px;
          padding-left: calc(115px + 5%);
          position: relative; }
          .ask .news-list .list .item a span.inner .title {
            color: #333; }
          .ask .news-list .list .item a span.inner .des {
            font-size: 12px;
            margin-top: 0.2em; }
          .ask .news-list .list .item a span.inner .time {
            position: absolute;
            left: calc(115px + 5%);
            bottom: 0;
            font-size: 12px;
            color: #999; }

/*# sourceMappingURL=ask.css.map */
