/* CSS Document */
body {
  background-color: #eee; }

.index .banner .swiper-container {
  width: 100%; }
  .index .banner .swiper-container .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%; }
    .index .banner .swiper-container .swiper-slide a img {
      width: 100%;
      display: block; }
  .index .banner .swiper-container .swiper-pagination-bullet {
    background-color: #2d8800; }
.index .quick-link {
  background-color: #fff;
  padding: 0.5em 0; }
  .index .quick-link ul li {
    width: 25%;
    text-align: center; }
    .index .quick-link ul li a {
      color: #000;
      display: block;
      font-size: 12px; }
      .index .quick-link ul li a img {
        width: 2.5em;
        display: block;
        margin: 0 auto 0.1em; }
.index .temai {
  background-color: #fff;
  overflow: hidden;
  background-color: #fff;
  padding: 1em 0; }
  .index .temai .inner {
    position: relative;
    overflow: hidden; }
    .index .temai .inner a.first {
      width: 0;
      height: 0;
      float: left;
      display: block;
      padding-right: calc(40% - 1px);
      padding-bottom: 58%;
      background-position: center;
      background-position: center;
      background-size: cover;
      border-right: 1px solid #f7f7f7; }
      .index .temai .inner a.first .text {
        position: absolute;
        padding-left: calc(1em + 1.2em);
        background-image: url("../images/temai_ico1.png");
        background-repeat: no-repeat;
        background-size: 1em;
        background-position: 1em top; }
        .index .temai .inner a.first .text h2 {
          font-size: 18px;
          color: #e60b16; }
        .index .temai .inner a.first .text p {
          font-size: 12px; }
    .index .temai .inner a.sec {
      position: absolute;
      width: 0;
      height: 0;
      padding-right: 60%;
      padding-bottom: 28%;
      background-position: center bottom;
      background-size: cover;
      top: 0;
      right: 0;
      border-bottom: 1px solid #f7f7f7;
      z-index: 1; }
      .index .temai .inner a.sec .text {
        position: absolute;
        padding-left: calc(1em + .8em);
        background-repeat: no-repeat;
        background-size: 1em;
        background-position: 0.6em 0.3em;
        background-image: url("../images/temai_ico2.png"); }
        .index .temai .inner a.sec .text h2 {
          font-size: 18px;
          color: #3caddf; }
        .index .temai .inner a.sec .text p {
          font-size: 12px; }
    .index .temai .inner a.thr {
      position: absolute;
      width: 0;
      height: 0;
      padding-right: 60%;
      padding-bottom: 28%;
      background-position: center bottom;
      background-size: cover;
      right: 0;
      bottom: 0; }
      .index .temai .inner a.thr .text {
        position: absolute;
        padding-left: calc(1em + 1em);
        background-repeat: no-repeat;
        background-size: 1em;
        background-position: 0.8em 0.3em;
        background-image: url("../images/temai_ico3.png"); }
        .index .temai .inner a.thr .text h2 {
          font-size: 18px;
          color: #ff8a2b; }
        .index .temai .inner a.thr .text p {
          font-size: 12px; }
.index .pro-pannel {
  background-color: #fff; }
  .index .pro-pannel .tit {
    color: #000; }

/*# sourceMappingURL=index.css.map */
