.products .pro-ad img {
  display: block;
  width: 100%; }
.products .sort {
  background-color: #fff;
  padding: 1em 0; }
  .products .sort a {
    font-size: 18px;
    line-height: 1em;
    font-weight: lighter;
    color: #000;
    text-align: center;
    border-right: 1px solid #ebebeb; }
    .products .sort a:last-child {
      border-right: 0; }
    .products .sort a.on {
      color: #c60e0e; }
.products .pro-list {
  overflow: hidden; }
  .products .pro-list .item {
    width: calc(50% - 1px);
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    transition: border 0.4s; }
    .products .pro-list .item:nth-child(odd) {
      border-right: 1px solid #eee; }
    .products .pro-list .item:nth-child(even) {
      border-left: 1px solid #eee; }
    .products .pro-list .item a {
      display: block; }
    .products .pro-list .item .pic {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      position: relative; }
      .products .pro-list .item .pic a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .products .pro-list .item .price {
      color: #c30000;
      font-size: 10px;
      padding: 0.5em 10px; }
      .products .pro-list .item .price span {
        font-size: 18px;
        line-height: 18px;
        display: inline-block; }
    .products .pro-list .item .title {
      padding: 0 10px 0.5em;
      font-size: 14px; }
      .products .pro-list .item .title a {
        line-height: 1.2em;
        height: 2.2em;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
    .products .pro-list .item .btn {
      font-size: 0;
      line-height: 0;
      padding: 0 10px 20px; }
      .products .pro-list .item .btn a {
        display: inline-block;
        width: 50%;
        padding-left: 0.5em;
        width: calc(50% - .5em);
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        border: 1px solid #d2d2d2; }
        .products .pro-list .item .btn a.brand-sc {
          background-image: url("../images/shoucang.png");
          background-position: 25% center;
          background-repeat: no-repeat;
          background-size: 1em; }
        .products .pro-list .item .btn a.brand-car {
          margin-left: -1px;
          padding-left: 1.5em;
          width: calc(50% - 1.5em);
          background-image: url("../images/gwck.png");
          background-position: 8% center;
          background-repeat: no-repeat;
          background-size: 1em; }

@media (max-width: 320px) {
  .products .pro-list .item .btn a {
    display: inline-block;
    font-size: 9px;
    line-height: 22px; }
    .products .pro-list .item .btn a.brand-sc {
      padding-left: 0.5em;
      width: calc(50% - 0.5em);
      background-position: 1.8em center;
      background-repeat: no-repeat;
      background-size: 1em; }
    .products .pro-list .item .btn a.brand-car {
      margin-left: -1px;
      padding-left: 1.5em;
      width: calc(50% - 1.5em);
      background-position: 6px center;
      background-size: 1em; } }

/*# sourceMappingURL=products.css.map */
