/* CSS Document */
.index .banner {
  width: 100%;
  padding-bottom: 110%; }
  @media screen and (min-width: 360px) {
    .index .banner {
      padding-bottom: 110%; } }
  @media screen and (min-width: 700px) {
    .index .banner {
      padding-bottom: 50%; } }
  @media screen and (min-width: 1000px) {
    .index .banner {
      padding-bottom: 35%; } }
  .index .banner .swiper-wrapper {
    position: absolute; }
  .index .banner .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%; }
    .index .banner .swiper-slide .text img {
      max-width: 80%;
      display: block; }
  .index .banner .swiper-pagination-bullet {
    border: 1px solid #fff;
    opacity: 1;
    background: none; }
    .index .banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #fff; }
.index .i-tit {
  border-left: 3px solid #b88451;
  padding-left: 10px; }
  @media screen and (min-width: 1200px) {
    .index .i-tit {
      border-left: 7px solid #b88451; } }
  @media screen and (min-width: 700px) {
    .index .i-tit {
      padding-left: 20px; } }
  @media screen and (min-width: 1200px) {
    .index .i-tit {
      padding-left: 40px; } }
  .index .i-tit .en {
    font-family: "HeroLight";
    font-size: 30px;
    line-height: 0.8; }
    @media screen and (min-width: 360px) {
      .index .i-tit .en {
        font-size: 36px;
        line-height: 0.9; } }
    @media screen and (min-width: 700px) {
      .index .i-tit .en {
        font-size: 60px; } }
    @media screen and (min-width: 1200px) {
      .index .i-tit .en {
        font-size: 60px; } }
  .index .i-tit .ch {
    font-size: 20px;
    line-height: 1; }
    @media screen and (min-width: 360px) {
      .index .i-tit .ch {
        font-size: 26px;
        line-height: 1; } }
    @media screen and (min-width: 700px) {
      .index .i-tit .ch {
        font-size: 40px; } }
    @media screen and (min-width: 1200px) {
      .index .i-tit .ch {
        font-size: 40px; } }
.index .about {
  padding: 6% 0; }
  .index .about .inner .content {
    margin-top: 5%;
    padding: 6% 5%;
    background-color: #b88451;
    color: #fff;
    font-weight: lighter; }
  .index .about .inner .more {
    width: 20px;
    padding-bottom: 20px;
    display: block;
    background-position: center;
    background-size: cover;
    background-image: url("../images/jt.png");
    margin-top: 5%; }
    @media screen and (min-width: 360px) {
      .index .about .inner .more {
        width: 26px;
        padding-bottom: 26px; } }
    @media screen and (min-width: 700px) {
      .index .about .inner .more {
        width: 48px;
        padding-bottom: 48px; } }
  .index .about .pic {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-bottom: 50%; }
.index .products {
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative; }
  .index .products .pro-tit {
    position: absolute;
    z-index: 2;
    padding-top: 6%; }
  .index .products .i-tit {
    color: #fff;
    border-color: #fff; }
  .index .products .pro-content .swiper-slide {
    padding: 6% 0;
    padding-bottom: 54.4px;
    background-position: top;
    background-size: cover; }
    @media screen and (min-width: 1200px) {
      .index .products .pro-content .swiper-slide {
        padding-bottom: 48px; } }
    .index .products .pro-content .swiper-slide .title {
      font-size: 25px;
      line-height: 1;
      margin-top: 44px;
      padding-top: 5%; }
      @media screen and (min-width: 360px) {
        .index .products .pro-content .swiper-slide .title {
          font-size: 26px;
          line-height: 1; } }
      @media screen and (min-width: 700px) {
        .index .products .pro-content .swiper-slide .title {
          font-size: 40px; } }
      @media screen and (min-width: 1200px) {
        .index .products .pro-content .swiper-slide .title {
          font-size: 60px; } }
      @media screen and (min-width: 360px) {
        .index .products .pro-content .swiper-slide .title {
          margin-top: 58px; } }
      @media screen and (min-width: 700px) {
        .index .products .pro-content .swiper-slide .title {
          margin-top: 94px; } }
    .index .products .pro-content .swiper-slide .text-area {
      margin-top: 5%; }
    .index .products .pro-content .swiper-slide .more {
      width: 20px;
      padding-bottom: 20px;
      background-position: center;
      background-size: cover;
      margin: 5% 0;
      background-image: url("../images/jt_pro.png"); }
      @media screen and (min-width: 360px) {
        .index .products .pro-content .swiper-slide .more {
          width: 26px;
          padding-bottom: 26px; } }
      @media screen and (min-width: 700px) {
        .index .products .pro-content .swiper-slide .more {
          width: 48px;
          padding-bottom: 48px; } }
  .index .products .pro-nav {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #666666;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    .index .products .pro-nav .swiper-slide {
      text-align: center;
      padding: 0.5em 0;
      line-height: 1.2em;
      font-weight: lighter;
      color: #666;
      cursor: pointer; }
      .index .products .pro-nav .swiper-slide span {
        font-size: 1.2em;
        display: block; }
      .index .products .pro-nav .swiper-slide.active-nav {
        color: #b88451;
        position: relative; }
        .index .products .pro-nav .swiper-slide.active-nav::after {
          display: block;
          content: "";
          width: 100%;
          border-bottom: 3px solid #b88451;
          position: absolute;
          bottom: 0; }
    .index .products .pro-nav .swiper-button-prev {
      opacity: 0.4;
      width: 14px;
      height: 26px;
      background-size: 14px 26px;
      margin-top: -13px;
      left: 50px; }
    .index .products .pro-nav .swiper-button-next {
      opacity: 0.4;
      width: 14px;
      height: 26px;
      background-size: 14px 26px;
      margin-top: -13px;
      right: 50px; }
.index .news {
  padding: 5% 0; }

@media screen and (min-width: 1024px) {
  .index .products .pro-tit {
    left: 50%;
    margin-left: -490px; } }
@media screen and (min-width: 1200px) {
  .index .about .inner {
    position: absolute;
    left: 0;
    top: 80px; }
    .index .about .inner .content {
      width: 520px;
      padding: 40px 50px;
      margin-top: 30px; }
      .index .about .inner .content .more {
        margin-top: 50px; }
  .index .about .pic {
    float: right;
    width: 684px;
    padding-bottom: 684px; }
  .index .products .pro-tit {
    left: 50%;
    margin-left: -600px; }
  .index .products .pro-content .swiper-slide .title {
    text-align: center;
    padding-top: 5%; }
  .index .products .pro-content .swiper-slide .text-area {
    text-align: center;
    margin: 30px auto;
    width: 610px;
    font-weight: lighter; }
  .index .products .pro-content .swiper-slide .more {
    width: 20px;
    padding-bottom: 20px;
    background-position: center;
    background-size: cover;
    margin: 0 auto 213px;
    background-image: url("../images/jt_pro.png"); } }
  @media screen and (min-width: 1200px) and (min-width: 360px) {
    .index .products .pro-content .swiper-slide .more {
      width: 26px;
      padding-bottom: 26px; } }
  @media screen and (min-width: 1200px) and (min-width: 700px) {
    .index .products .pro-content .swiper-slide .more {
      width: 48px;
      padding-bottom: 48px; } }
@media screen and (min-width: 1200px) {
  .index .products .pro-nav {
    width: 1080px;
    padding: 0 60px;
    left: 50%;
    margin-left: -600px;
    bottom: -50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    .index .products .pro-nav .swiper-slide {
      text-align: center;
      padding: 36px 0;
      line-height: 1em;
      font-size: 22px; }
      .index .products .pro-nav .swiper-slide span {
        font-size: 1.5em;
        display: block;
        margin-bottom: 16px; } }

/*# sourceMappingURL=index.css.map */
