$font: 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 32px, 36px;
$tr4: all 0.4s, transform 0.4s; //处理动画
@mixin tr($time,$type) {
  transition: $type $time;
}
//响应式宽度判断
@mixin max-screen($res) {
  @media (max-width: $res) {
    @content;
  }
}
//响应式高度判断
@mixin maxh-screen($res) {
  @media (max-height: $res) {
    @content;
  }
}