/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing   : content-box;
  box-sizing        : content-box;
}

html {
  font-size                  : 100%;
  -webkit-font-smoothing     : antialiased;
  -webkit-text-size-adjust   : 100%;
  -ms-text-size-adjust       : 100%;
  min-height                 : 100%;
  -webkit-tap-highlight-color: transparent;
  font-family                : "Microsoft YaHei", "Open Sans";
}

body {
  color                      : #666;
  position                   : relative;
  -webkit-text-size-adjust   : 100%;
  -webkit-font-smoothing     : antialiased;
  font-family                : "Microsoft YaHei", "Open Sans";
  min-height                 : 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration : none;
  color           : #666;
  background-color: transparent;
}

a,
p {
  -ms-word-wrap: break-word;
  word-wrap    : break-word;
}

a,
button {
  border                     : none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline                    : none;
}

.fl {
  float: left!important;
}

.fr {
  float: right!important;
}

.clearfix:after {
  content   : ".";
  display   : block;
  height    : 0;
  clear     : both;
  visibility: hidden;
}

.clearfix {
  overflow: hidden;
  _zoom   : 1;
  clear   : both;
}

.container_1200 {
  width   : 1200px;
  margin  : 0 auto;
  overflow: hidden;
  position: relative;
}

.containern_1200 {
  width   : 1200px;
  margin  : 0 auto;
  position: relative;
}

.container {
  margin  : 0 16px;
  overflow: hidden;
  position: relative;
}

.containern {
  margin  : 0 16px;
  position: relative;
}

.container88 {
  width   : 88%;
  margin  : 0 auto;
  overflow: hidden;
  position: relative;
}

.pc {
  display: block!important;
}

.wap {
  display: none!important;
}

main {
  position  : relative;
  z-index   : 0;
  transition: $tr4;
  z-index   : 1;
}

body.on main {
  transform : translateX(-120px);
  transition: $tr4;
  -webkit-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
  box-shadow: 0 0 5px #000;
}

article {
  position      : relative;
  z-index       : 0;
  padding-bottom: 60px;
}

.pageinner {
  /*padding:64px 0 60px;*/
  position  : relative;
  min-height: 430px;
}

.text-hidden {
  display      : block;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}
/*水平垂直居中*/
.wh-center {
  display            : -webkit-box;
  display            : -ms-flexbox;
  display            : -webkit-flex;
  display            : flex;
  -webkit-box-pack   : center;
  -ms-flex-pack      : center;
  justify-content    : center;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  -webkit-align-items: center;
  align-items        : center;
}
/*垂直居中*/
.h-center {
  display            : -webkit-box;
  display            : -ms-flexbox;
  display            : -webkit-flex;
  display            : flex;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  -webkit-align-items: center;
  align-items        : center;
}
/*分组父级*/
.felx-box {
  display              : -webkit-box;
  -webkit-box-orient   : horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack     : justify;
  -webkit-box-align    : center;
  display              : flex;
  flex-flow            : row nowrap;
  align-items          : left;
}
/*分组子级*/
.felx-item {
  -webkit-box-flex: 1;
  flex-basis      : 1;
  flex-grow       : 1;
  flex-shrink     : 1;
  flex            : 1 1 1;
}
/* alert_player */
.alert_player {
  position: fixed;
  top     : 0;
  width   : 100%;
  height  : 100%;
  z-index : 99999999;
}

.alert_player .bg {
  width     : 100%;
  height    : 100%;
  position  : absolute;
  top       : 0;
  left      : 0;
  background: rgba(0, 0, 0, .5);
}

.alert_player .layer {
  width        : 350px;
  height       : 140px;
  position     : absolute;
  margin       : -60px 0 0 -150px;
  left         : 50%;
  top          : 50%;
  background   : #fff;
  border-radius: 10px;
  text-align   : center;
}

.alert_player .info {
  height       : 50%;
  line-height  : 360%;
  border-bottom: 1px solid #ccc;
  color        : #36adcf;
}

.alert_player .queren_btn {
  background   : #36adcf;
  display      : inline-block;
  padding      : 14px 60px;
  margin       : 10px 0 0;
  color        : #fff;
  border-radius: 10px;
}

#progress {
  position  : fixed;
  height    : 2px;
  top       : 0;
  background: #36adcf;
  transition: opacity 500ms linear;
  z-index   : 99999;

  &.done {
    opacity: 0;
  }

  span {
    position             : absolute;
    height               : 2px;
    -webkit-box-shadow   : #36adcf 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    opacity              : 1;
    width                : 150px;
    right                : -10px;
    -webkit-animation    : pulse 4s ease-out 0s infinite;
  }
}
@-webkit-keyframes pulse {
  30% {
    opacity: 0.6;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.text-area {
  font-size  : 18px;
  line-height: 36px;

  b,
  strong {
    font-weight: bold;
  }
}

.loadmore {
  height             : 55px;
  background-color   : #aaaaaa;
  cursor             : pointer;
  background-image   : url("../images/loadmore.png");
  background-repeat  : no-repeat;
  background-position: center;
  transition         : $tr4;

  &:hover {
    background-color: #36adcf;
    transition      : $tr4;
  }
}

.vis {
  visibility: hidden;
}

.backtotop {
  position: fixed;
  right   : 5px;
  bottom  : 20px;
  width   : 70px;
  height  : 130px;
  z-index : 999;

  a {
    display         : block;
    height          : 64px;
    width           : 100%;
    border-radius   : 5px;
    background-color: #eaeaea;
    margin-bottom   : 4px;
    text-align      : center;
    line-height     : 28px;
    overflow        : hidden;

    span {
      display  : block;
      font-size: 20px;
    }

    p {
      font-size  : 14px;
      font-weight: lighter;
    }

    &.mBn {
      line-height: 64px;
      font-size  : 30px;

      span {
        font-size  : 30px;
        line-height: 64px;
        display    : block;
      }
    }
  }
}

body[onselectstart] {
  cursor             : pointer;
  -moz-user-select   : none;
  -webkit-user-select: none;
  user-select        : none;
}

.position {
  font-size: 18px;

  a {
    color: #333;
  }
}

.search {
  padding: 1em 0;

  input {
    width             : calc(90% - 2px - 16px);
    border            : 1px solid #ccc;
    border-radius     : 5px;
    padding           : 0 5% 0 calc(5% + 16px);
    line-height       : 2.5em;
    outline           : none;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
      text-align: center;
      color     : #999;
    }
  }

  span {
    position   : absolute;
    top        : 50%;
    left       : 50%;
    color      : #c30000;
    margin-top : -8px;
    margin-left: -5em;
  }

  &.on {
    span {
      left       : 0;
      margin-left: 2.5%;
    }
  }
}

.fg-line {
  padding-bottom: 4%;
}