@font-face {
    font-family: 'jiantou';
    src: url('fonts/jiantou.eot?7q8ezd');
    src: url('fonts/jiantou.eot?7q8ezd#iefix') format('embedded-opentype'), url('fonts/jiantou.ttf?7q8ezd') format('truetype'), url('fonts/jiantou.woff?7q8ezd') format('woff'), url('fonts/jiantou.svg?7q8ezd#jiantou') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="jt-"],
[class*=" jt-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'jiantou' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jt-chevron-left:before {
    content: "\f053";
}

.jt-chevron-right:before {
    content: "\f054";
}

.jt-chevron-up:before {
    content: "\f077";
}

.jt-chevron-down:before {
    content: "\f078";
}

.jt-angle-double-left:before {
    content: "\f100";
}

.jt-angle-double-right:before {
    content: "\f101";
}

.jt-angle-double-up:before {
    content: "\f102";
}

.jt-angle-double-down:before {
    content: "\f103";
}

.jt-home:before {
    content: "\f015";
}

.jt-arrow_forward:before {
    content: "\e5c8";
}

.jt-arrow-down:before {
    content: "\e905";
}

.jt-arrow-left:before {
    content: "\e906";
}

.jt-arrow-right:before {
    content: "\e907";
}

.jt-arrow-up:before {
    content: "\e908";
}

.jt-chevron-down2:before {
    content: "\e900";
}

.jt-chevron-left2:before {
    content: "\e901";
}

.jt-chevron-right2:before {
    content: "\e902";
}

.jt-chevron-up2:before {
    content: "\e903";
}

.jt-triangle-down:before {
    content: "\f05b";
}

.jt-triangle-left:before {
    content: "\f044";
}

.jt-triangle-right:before {
    content: "\f05a";
}

.jt-triangle-up:before {
    content: "\f0aa";
}

.jt-chevron-thin-down:before {
    content: "\e909";
}

.jt-chevron-thin-left:before {
    content: "\e90a";
}

.jt-chevron-thin-right:before {
    content: "\e90b";
}

.jt-chevron-thin-up:before {
    content: "\e90c";
}

.jt-triangle-right2:before {
    content: "\e904";
}
