/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

$font:12px,
14px,
16px,
18px,
20px,
22px,
24px,
26px,
28px,
32px,
36px;
$tr4: all .4s,
transform .4s;
$mpb :"MyriadPro-Bold";
$mpl :"MyriadPro-Light";
$mpba :"MyriadPro-Black";
$mplt: "MyriadPro-LightIt";
$mpsit: "MyriadPro-SemiboldIt";
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Microsoft YaHei', 'Open Sans';
}

body {
  color: #666;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft YaHei', 'Open Sans';
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #666;
  background-color: transparent;
}

p,
a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

a,
button {
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.fl {
  float: left!important;
}

.fr {
  float: right!important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.clearfix {
  overflow: hidden;
  _zoom: 1;
  clear: both;
}

.container_1200 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.containern_1200 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.container {
  margin: 0px 16px;
  overflow: hidden;
  position: relative;
}

.containern {
  margin: 0px 16px;
  position: relative;
}

.container88 {
  width: 88%;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}

.pc {
  display: block!important;
}

.wap {
  display: none!important;
}

main {
  position: relative;
  z-index: 0;
  transition: $tr4;
  z-index: 1;
}

body.on main {
  transform: translateX(-120px);
  transition: $tr4;
  -webkit-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
  box-shadow: 0 0 5px #000;
}

article {
  position: relative;
  z-index: 0;
  background: #fff;
  z-index: 0;
  overflow: hidden;
}

.pageinner {
  /*padding:64px 0 60px;*/
  position: relative;
  min-height: 430px;
}

.text-hidden {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*水平垂直居中*/

.wh-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/*垂直居中*/

.h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/*分组父级*/

.felx-box {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
}


/*分组子级*/

.felx-item {
  -webkit-box-flex: 1;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1 1 1;
}


/* alert_player */

.alert_player {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.alert_player .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

.alert_player .layer {
  width: 80%;
  height: 140px;
  position: absolute;
  margin: -60px 0 0 -40%;
  left: 50%;
  top: 50%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.alert_player .info {
  height: 50%;
  line-height: 360%;
  border-bottom: 1px solid #ccc;
  color: #d60011;
}

.alert_player .queren_btn {
  background: #d60011;
  display: inline-block;
  padding: 14px 60px;
  margin: 10px 0 0 0;
  color: #fff;
  border-radius: 10px;
}

#progress {
  position: fixed;
  height: 2px;
  top: 0;
  background: #36adcf;
  transition: opacity 500ms linear;
  z-index: 99999;
  &.done {
    opacity: 0
  }
  span {
    position: absolute;
    height: 2px;
    -webkit-box-shadow: #36adcf 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    opacity: 1;
    width: 150px;
    right: -10px;
    -webkit-animation: pulse 4s ease-out 0s infinite;
  }
}

@-webkit-keyframes pulse {
  30% {
    opacity: .6
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: .6
  }
}

.er-title {
  text-align: center;
  color: #333;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
    top: 50%;
    left: 0;
  }
  .inner {
    width: 310px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    z-index: 1;
    .ch {
      font-size: 36px;
      line-height: 1em;
    }
    .en {
      font-family: "BauerBodni BT Italic";
      font-style: italic;
      font-size: 26px;
      line-height: 1em;
      margin-top: 10px;
    }
  }
}

.er-banner {
  img {
    display: block;
    width: 100%;
  }
}

.position {
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #333;
  border-top: 3px solid #d60011;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  z-index: 5;
  span {
    vertical-align: middle;
  }
  .jt-home {
    font-size: 16px;
    position: relative;
    top: -1px;
  }
  .jt-chevron-right {
    font-size: 10px;
    padding: 0 5px;
  }
  input {
    display: none;
  }
  label {
    float: right;
    line-height: 45px;
    color: #d60011;
    font-size: 16px;
    @include tr(all, 0.4s);
  }
  .er-nav {
    background-color: #eeeeee;
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    border-top: 1px solid #d6d6d6;
    @include tr(all, 0.4s);
    a {
      display: block;
      border-bottom: 1px solid #d6d6d6;
      padding: 0 6%;
      color: #333;
      i {
        padding-right: 1em;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
      &.on {
        color: #d60011;
      }
    }
  }
  input:checked~.container_1200>label {
    transform: rotate(180deg);
    @include tr(all, 0.4s);
  }
  input:checked~.er-nav {
    visibility: visible;
    opacity: 1;
    @include tr(all, 0.4s);
  }
}

.text-area {
  font-size: 14px;
  line-height: 2em;
  strong,
  b {
    font-weight: bold;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.loadmore {
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  background-color: #cccccc;
  color: #fff;
}

.vis {
  visibility: hidden;
}

.backtotop {
  position: fixed;
  right: 5%;
  bottom: 70px;
  width: 36px;
  height: 36px;
  z-index: 999;
  background-color: #e50013;
  color: #fff;
  border-radius: 100%;
  line-height: 34px;
  text-align: center;
  display: none;
}

.pagination {
  text-align: center;
  overflow: hidden;
  a,
  span {
    font-size: 12px;
    display: inline-block;
    padding: 0.4em 0.85em;
    margin-right: 5px;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
    background: #e50014;
    color: #fff;
  }
  .current {
    background: #ff6a76;
    color: #fff;
    &.prev,
    &.next {
      display: none;
    }
  }
}