@media screen and (min-width: 1200px) {
  footer {
    .footer-main {}

    .footer-bar {
      font-size  : 14px;
      text-align : left;
      padding    : 0;
      line-height: 100px;
      border-top : 1px solid #dcdcdc;

      .fl {
        width: auto;

        span {
          display: inline;
        }
      }
    }
  }
}