@charset "utf-8";
@media screen and (min-width: 1024px) {
  .index .products .pro-tit {
    left       : 50%;
    margin-left: -490px;
  }
}
@media screen and (min-width: 1200px) {
  .index {
    .about {
      padding: 100px 0;

      .inner {
        position: absolute;
        left    : 0;
        top     : 80px;

        .tit {}

        .content {
          width     : 520px;
          padding   : 40px 50px;
          margin-top: 30px;

          .more {
            margin-top: 50px;
          }
        }
      }

      .pic {
        float         : right;
        width         : 684px;
        padding-bottom: 684px;
      }
    }

    .products {
      .pro-tit {
        left       : 50%;
        margin-left: -600px;
        padding-top: 100px;
      }

      .pro-content {
        .swiper-slide {
          padding-top: 100px;

          .title {
            text-align : center;
            padding-top: 100px;
          }

          .text-area {
            text-align : center;
            margin     : 30px auto;
            width      : 610px;
            font-weight: lighter;
          }

          .more {
            @include more-height($i-more-height);
            background-position: center;
            background-size    : cover;
            margin             : 0 auto 213px;
            background-image   : url("../images/jt_pro.png");
          }
        }
      }

      .pro-nav {
        width      : 1080px;
        padding    : 0 60px;
        left       : 50%;
        margin-left: -600px;
        bottom     : -50px;
        box-shadow : 0 0 20px rgba(#000,0.15);

        .swiper-slide {
          text-align : center;
          padding    : 36px 0;
          line-height: 1em;
          font-size  : 22px;

          span {
            font-size    : 1.5em;
            display      : block;
            margin-bottom: 16px;
          }
        }
      }
    }

    .news {
      padding: 200px 0 100px;

      .news-nav {
        margin-top: 74px;
        width     : 188px;
        position  : absolute;
        z-index   : 1;
        right     : 0;
        top       : 0;

        a {
          display    : block;
          width      : 4em;
          float      : left;
          text-align : center;
          border     : 0;
          line-height: 2.5em;
          margin-left: 30px;

          &.on {
            background: none;
            color     : #b58150;
          }
        }
      }

      .swiper-slide {
        .item {
          width       : 370px;
          float       : left;
          margin-right: 45px;

          .pic {
            margin-bottom: 30px;
          }

          .time {
            font-weight  : normal;
            margin-bottom: 20px;
            line-height  : 26px;
          }

          .title {
            margin-bottom: 10px;
          }

          .des {
            line-height: 24px;
          }
        }
      }

      .more {
        text-align: center;
        overflow  : hidden;
        margin    : 8% 0 1px;

        a {
          width        : 4em;
          display      : inline-block;
          padding      : 0 30px;
          line-height  : 38px;
          border       : 1px solid #999;
          border-radius: 38px;
          color        : #c09d5b;
          transition   : $tr4;

          &:hover {
            background-color: #c09d5b;
            color           : #fff;
            transition      : $tr4;
          }
        }
      }
    }
  }
}