@charset "utf-8";
@media screen and (min-width: 1200px) {
  header {
    .logo {
      float: left;
    }

    nav {
      float      : left;
      width      : auto;
      visibility : visible;
      opacity    : 1;
      margin-left: 110px;

      a {
        width        : auto;
        float        : left;
        border-bottom: 0;
        padding      : 0 25px;
      }
    }
  }
}