@charset "utf-8";
@media screen and (min-width: 1200px) {
  header {
    .logo {
      float: left;
    }

    nav {
      float      : left;
      width      : auto;
      visibility : visible;
      opacity    : 1;
      margin-left: 110px;

      a {
        width        : auto;
        float        : left;
        border-bottom: 0;
        padding      : 0 25px;
      }
    }
  }

  .er-nav {
    .container {
      display: block;
    }

    a {
      display    : block;
      text-align : center;
      line-height: 100px;
      float      : left;
      font-size  : 20px;

      &.w25 {
        width: 25%;
      }

      &.on {
        color              : #b88451;
        background-color   : #fff;
        background-position: center;
        background-repeat  : no-repeat;
        background-image   : url("../images/er_nav.png");
      }
    }
  }
}